* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.circle {
    background-color: aqua;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.circle:hover {
    transform: scale(2);
    background-color: rgba(245, 40, 53, 0.8);
}

.rectangle {
    height: 100px;
    width: 100px;
    transition: all 2s;
    background-color: blue;
}

.rectangle:hover {
    transform: rotateZ(180deg);
    background-color: brown;
}